*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head{
    background-color: rgb(39, 38, 38);
    height: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
   

}
.logo{
    color: aliceblue;
    line-height: 40px;
    padding-left: 20px;
    width: 20%;
}
.nav{
    width: 20%;
    line-height: 40px;
}
a{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
}
.container{
    height: 400px;
    text-align: center;
    line-height: 400px;
    background-color: rgb(219, 214, 214);
    color: gray;
}
.tt{
    background-color: antiquewhite;
    color: black;
    height: 40px;
    width: calc(50% - 15px);
    text-align: center;
    line-height: 40px;

}
.tt1{
    background-color: antiquewhite;
    color: black;
    height: 40px;
    width: calc(100% - 20px);
    text-align: center;
    line-height: 40px;
}
.foot{
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;

}